*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #e6e6e8;
}
:root {
	--primary: #dac404;
	--primaryHover: #dac50480;
	
  }

.main{
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
}

.main .hero-main{
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(./images/main-back.jpg);

}

 .hero-main .resumebtn button{
	width: 200px;
	height: 50px;
}
.hero-main input{
	width: 200px;
	height: 50px;
	color: var(--primary);
}
.navbar{
	background-color: #121229 ;
}
.hero-main h1{
	color: var(--primary);
	font-weight: 600;
	font-size: 60px;
}
.hero-main h3{

	color: var(--primary);
}
.main .about img{
	height: 50vh;
	width: 50vh;
	box-shadow: 2px 50px 50px rgb(0, 0, 0)
}
.main .about{

	display: grid;
	grid-auto-rows: 250px 1fr;
	background-color: #121229;

	
}

.about .about-me p{
	font-size: 30px;

}
.about-me-content h3{
	color: var(--primary);
	font-weight: 700;
	font-size:35px;
}
.about button{
	border-radius: 0;
	border:none;

}
.about button:hover{
	background-color: white;
	border:none;
	transition:  200ms ease-in;
}
.main .services{
	height: auto;
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: #121229;
}
.main .services img{
	height: 200px;
	width: 200px;

	
}
.main .services h5{
	color: var(--primary);
}



